<div class="profile-picture">
            <a href="index.html">
                <div style = "height:76px;width:76px;margin-left:25px;">
                     <img ng-src="{{profilePic}}" class="img-circle m-b" alt="logo" align="middle">
                </div>
                
            </a>

            <div class="stats-label text-color" style = "padding-top:30px;">
                <span class="font-extra-bold font-uppercase">{{user.name}}</span>
                 
                <span ng-click="logOutFromApp();" style = "cursor:pointer;">
                        Logout
                </span>


                
                <div ng-show = "actualsSavings[1].v">
                    <h4 class="font-extra-bold m-b-xs">
                        {{actualsSavings[1].v | currency}}
                    </h4>
                    <small class="text-muted">Your Estimated Savings.</small>
                </div>
            </div>
        </div>

        <ul class="nav" id="side-menu">
            <li class="active" ng-click="showDashBoard();">
                <a href="#"> <span class="nav-label">Dashboard</span></a>
            </li>
            <li ng-click="showEstimate();">
                <a href="#"> <span class="nav-label">Estimates</span><span class="fa arrow"></span></a>
            </li>
            <li ng-click="showActual();">
                <a href="#"><span class="nav-label">Actuals</span><span class="fa arrow"></span></a>
            </li>
            <li>
                <a href="#"><span class="nav-label">Spread a Word</span><span class="fa arrow"></span></a>
            </li>
            <li>
                <a href="#"><span class="nav-label">Make it better</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Share your thoughts</a></li>
                </ul>
            </li>
        </ul>